PORT=5173
HOST_ENV=local
VITE_BACKEND_TRPC_URL=http://localhost:3000/trpc
VITE_WEBAPP_URL=http://localhost:5173
VITE_WEBAPP_ROLLBAR_CLIENT_TOKEN=!!!SECRET!!!
VITE_WEBAPP_ROLLBAR_ACCESS_TOKEN=!!!SECRET!!!
SOURCE_VERSION=1.0.0